<html>
<head>
    <title></title>
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>

<div id="content">

    <div class="header">
        <a href="#" class="header-button header-button-left header-back-button">
            <button>Back</button>
        </a>
        <h1>Employee Directory</h1>
    </div>

    <div id="mainArea">

    </div>

</div>

<script id="employeeSearchView" type="text/template">
    <div class="search-bar"><input type="search" id="searchKey"/></div>
    <div class="scroll striped">
        <ul id="list" class="tableview tableview-links"></ul>
    </div>
</script>

<script id="employeeListItemView" type="text/template">
    <a href='#employees/<%= id %>'><%= firstName %> <%= lastName %><br/>
        <%= title %>
    </a>
</script>

<script id="employeeView" type="text/template">
    <div class='details'>
        <img id='image' height='120' src='img/unknown.jpg'/><br/>
        <h1> <%= firstName %>  <%= lastName %></h1>
        <%= title %><br/>
        <%= cellPhone %><br/>
        <%= email %><br/><br/>
        Location:<br/><span id='location'></span><br/><br/>
        <a href='#' id='addLocationBtn'>Add Current Location</a><br/>
        <a href='#' id='addContactBtn'>Add to Contacts</a><br/>
        <a href='#' id='addPictureBtn'>Add Picture</a>
    </div>
</script>


<script type="text/javascript" src="lib/cordova-1.7.0.js"></script>
<script type="text/javascript" src="lib/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="lib/underscore-min.js"></script>
<script type="text/javascript" src="lib/backbone-min.js"></script>
<script type="text/javascript" src="js/dao.js"></script>
<script type="text/javascript" src="js/models.js"></script>
<script type="text/javascript" src="js/views.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</body>
</html>